<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @tag_product.product.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @tag_product.tag.name %>
</p>


<%= link_to 'Edit', edit_tag_product_path(@tag_product) %> |
<%= link_to 'Back', tag_products_path %>
