<p id="notice"><%= notice %></p>

<h1>Subimgs</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subimgs.each do |subimg| %>
      <tr>
        <td><%= subimg.product.name %></td>
        <td><%= subimg.url %></td>
        <td><%= link_to 'Show', subimg %></td>
        <td><%= link_to 'Edit', edit_subimg_path(subimg) %></td>
        <td><%= link_to 'Destroy', subimg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subimg', new_subimg_path %>
