<div class="saved-slider " >

  <% category.products.order(:name).each do | product |  %>
    <div class="saved-slide">
      <div>
        <%= link_to product_path(product.id) do %>
          <%= image_tag(product.img_link, :class => "saved-slide-pic")  %>
        <% end %>
        <p class="saved-slide-addbtn">
          <%= link_to saved_from_category_categories_path(:current_saved_product_name => product.name, :category_temp => category), method: :post, remote: true do %>
            <% if cookies[:saved].present? && JSON.parse(cookies[:saved]).include?(product.id) %>
              <i class="fa fa-heart"></i>
            <% else %>
              <i class="fa fa-plus-circle"> </i>
            <% end %>
          <% end %>
        </p>

      </div>
      <%= link_to product_path(product.id) do %>
        <p class="saved-slide-text"><%= product.name %></p>
        <p><%= number_to_currency(product.price) %></p>
      <% end %>
    </div>
  <% end %>

</div>

<% if logged_in? && current_user.admin? %>

  <%= link_to 'Edit', edit_category_path(category) %> |
  <%= link_to 'Back', categories_path %>

<% end %>
