<div class="footer-items">
  <%= link_to root_path do %>
    <i class="fa fa-home"> </i>
    <p>Home</p>
  <% end %>
</div>

<div class="footer-items">
  <%= link_to root_path do %>
    <i class="fa fa-camera"> </i>
     <p>Scan</p>
  <% end %>
</div>

<div class="footer-items">
  <%= link_to saved_path do %>
    <i class="fa fa-heart"> </i>
    <p>Saved</p>
  <% end %>
</div>

<div class="footer-items">
  <% if logged_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fa fa-user"> </i>
      <p>Account</p>
    <% end %>

  <% else %>
      <%= link_to root_path do %>
      <i class="fa fa-user"> </i>
      <p>Account</p>
      <% end %>
  <% end %>
</div>
