<header id="myMainnav" class="navbar mainnav">

    <% flash.each do |type, msg| %>
      <div class="center newsletter-field-flash">
        <h1> <%= msg %> </h1>
      </div>
    <% end %>

  <div class="container-fluid">
    <div class="center">
      <h1><%= yield(:title) %></h1>
    </div>

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><a onclick="openNav()"><i class="fa fa-bars" > </i></a></li>
        <% if logged_in? %>
          <li>
            Hi <%= current_user.name %>!
            <%= link_to "Log out", logout_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to search_path do %>
            <i class="fa fa-search"> </i>
          <% end %>

        </li>
        <li><i class="fa fa-shopping-bag" > </i></li>
      </ul>

    </nav>
  </div>
</header>


  <header id="mySidenav" class="navbar sidebar">

    <div class="container-fluid cancle-icon">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><a onclick="closeNav()"><i class="fa fa-times" > </i></a></li>
        <li><%= link_to root_path do%><i class="fa fa-home"> </i><% end %></li>
      </ul>
    </nav>
    </div>

    <div class="container-fluid ">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><i class="fa fa-shopping-basket" > </i></li>
          <li><span>shop</span></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid sidebar-main">
      <p><%= link_to category_path(1) do %>Men<% end %></p>
      <p><%= link_to category_path(2) do %>Women<% end %></p>
      <p><%= link_to category_path(3) do %>Kids<% end %></p>
      <p><%= link_to category_path(4) do %>New-ins<% end %></p>
    </div>

    <div class="container-fluid sidebar-main">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><i class="fa fa-heart" > </i></li>
          <li><span><%= link_to "Saved", saved_path %></span></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid sidebar-main">
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <li><i class="fa fa-info"></i></li>
          <li><span class="sidebar-help"><%= link_to "Help and support", help_path %></span></li>
        </ul>
      </nav>
    </div>



  </header>




