<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RAD 2021</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    asset_url('home.scss'), media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/home_header' %>
    <div id="myMainbody" class="mainbody">
    <%= yield %>
    </div>


  </body>
</html>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
  document.getElementById("myMainnav").style.width = "0";
  document.getElementById("myMainbody").style.width = "0";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("myMainnav").style.width = "100%";
  document.getElementById("myMainbody").style.width = "100%";
}
</script>
