<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category_product.category.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @category_product.product.name %>
</p>

<%= link_to 'Edit', edit_category_product_path(@category_product) %> |
<%= link_to 'Back', category_products_path %>
